<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.mapper.SstatusMapper" >
  <resultMap id="BaseResultMap" type="com.zking.model.Sstatus" >
    <constructor >
      <idArg column="ssid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ssname" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ssid, ssname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sstatus
    where ssid = #{ssid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sstatus
    where ssid = #{ssid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.model.Sstatus" >
    insert into sstatus (ssid, ssname)
    values (#{ssid,jdbcType=INTEGER}, #{ssname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.model.Sstatus" >
    insert into sstatus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ssid != null" >
        ssid,
      </if>
      <if test="ssname != null" >
        ssname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ssid != null" >
        #{ssid,jdbcType=INTEGER},
      </if>
      <if test="ssname != null" >
        #{ssname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.model.Sstatus" >
    update sstatus
    <set >
      <if test="ssname != null" >
        ssname = #{ssname,jdbcType=VARCHAR},
      </if>
    </set>
    where ssid = #{ssid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.model.Sstatus" >
    update sstatus
    set ssname = #{ssname,jdbcType=VARCHAR}
    where ssid = #{ssid,jdbcType=INTEGER}
  </update>
</mapper>